@use "sass:math";
@use "./utils/breakpoints";
@use "./utils/layout";

$previewShrunkScale: 0.25;

body {
  background-color: var(--ks-background-color-default);
  color: var(--ks-text-color-default);
  font: var(--ks-font-interface-s);
}

#root {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  inset: 0;

  @include breakpoints.phone {
    flex-direction: column;
  }
}

.content {
  display: flex;
  overflow: hidden;
  position: relative;
  flex: 1;

  &__pane {
    background-color: var(--ks-background-color-default);
  }

  &__editor-pane {
    width: min((1 - $previewShrunkScale) * 100vw, 35rem);
    border-right: layout.$border;

    @include breakpoints.phone {
      width: min(50vw, 30rem);

      &--hidden {
        width: 0;
      }
    }
  }

  &__preview-pane {
    position: absolute;
    inset: 0;
    transform-origin: top right;
    flex-grow: 1;
    transition: 0.2s;
    min-height: 100%;

    @include breakpoints.phone {
      position: relative;
    }

    &--shrunk {
      min-height: math.div(1, $previewShrunkScale) * 100%;
      transform: scale($previewShrunkScale);
    }
  }

  &__editor-toggle {
    $bottom: 0.5rem;
    $left: -1px;

    position: absolute;
    bottom: $bottom;
    z-index: 1;
    left: -1px;
    transform-origin: bottom left;
    background-color: var(--ks-background-color-default);
    color: var(--ks-color-primary);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: layout.$border;
    border-left: 0;

    &:hover {
      background-color: var(--ks-color-primary-to-bg-9);
    }

    &:focus {
      box-shadow: 0 0 0 1px var(--ks-color-primary);
    }

    .content__preview-pane--shrunk & {
      transform: scale(math.div(1, $previewShrunkScale));
      bottom: math.div(1, $previewShrunkScale) * $bottom;
      left: math.div(1, $previewShrunkScale) * $left + $left;
    }
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
