@use "sass:math";
@use "./utils/breakpoints";

body {
  background-color: var(--ks-background-color-default);
  color: var(--ks-text-color-default);
  font: var(--ks-font-interface-s);
}

#root {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  inset: 0;

  @include breakpoints.phone {
    flex-direction: column;
  }
}

.content {
  display: flex;
  overflow: hidden;
  position: relative;
  flex: 1;

  $previewShrunkScale: 0.25;

  &__pane {
    overflow: auto;
    background-color: var(--ks-background-color-default);
  }

  &__editor-pane {
    width: min((1 - $previewShrunkScale) * 100vw, 35rem);

    @include breakpoints.phone {
      width: min(50vw, 30rem);

      &--hidden {
        width: 0;
      }
    }
  }

  &__preview-pane {
    position: absolute;
    inset: 0;
    transform-origin: top right;
    flex-grow: 1;
    transition: 0.2s;

    @include breakpoints.phone {
      position: static;
    }

    &--shrunk {
      min-height: math.div(1, $previewShrunkScale) * 100%;
      transform: scale($previewShrunkScale);
    }
  }
}

.toolbar {
  border-top: 1px solid var(--ks-color-fg-alpha-8);
  padding: var(--ks-spacing-inset-squish-xs);
  z-index: 1;

  @include breakpoints.phone {
    border-top: 0;
    border-bottom: 1px solid var(--ks-color-fg-alpha-8);
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
