@mixin landscape {
  @media (min-width: 60em) {
    @content;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;

  @include landscape {
    flex-direction: row;
  }
}

#preview,
#editor {
  flex: 1 0 0;
  overflow: auto;
  height: 50%;

  @include landscape {
    height: 100%;
  }
}

#editor {
  @include landscape {
    max-width: 60rem;
  }
}

.visually-hidden,
[aria-hidden="true"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
